<!-- <app-home></app-home> -->

<!-- <app-rooms></app-rooms> -->
<!-- <app-pick-and-drop></app-pick-and-drop> -->


<!-- <app-customerlogin></app-customerlogin> -->
<!-- <app-blogs></app-blogs> -->

<!-- <app-view-booking-history></app-view-booking-history> -->
<!-- <app-customer-signup></app-customer-signup> -->
<!-- <app-customer-booking-form></app-customer-booking-form> -->
<!-- <app-cancel-booking></app-cancel-booking> -->
<!-- <app-billing></app-billing> -->

<!-- <app-demo></app-demo> -->
<!-- <app-conact></app-conact> -->
